*{
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
 font-family: 'Karla', sans-serif;  
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
}
a{
    text-decoration: none;
    color: blue;
}
#desktop{
    display: none;
}
img{
    object-fit: contain;
}
.card{
    width: 95%;
    position: relative;
}
.hamburger{
    position: absolute;
    right: 5%;
    width: 27px;
}
.logo{
    height: 13px;
}
.firstWrap{
    background-image: url(images/bg-pattern-intro-left-mobile.svg),url(images/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
    background-position: left 450px,right 560px ;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    background-color: hsl(256, 26%, 20%);
    height: fit-content;
    padding: 0rem 0rem 2rem;
}
.firstWrap>img{
    width: 100%;
    margin-bottom: 2.5rem;
}
.workWrap:hover{
    background-color: white;
    color: black;
}
.firstWrap>h1{
    color: white;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.text{
    color:  hsl(216, 30%, 68%);
    font-size: 0.8rem;
    margin: 0rem 1rem;
}
.textwrap{
    margin: 1rem 6rem 0rem;
    border: 1px solid white;
    color: white;
    padding: 0.3rem 0rem;
    cursor: pointer;
}
.textwrap:hover{
    background-color: white;
    color: black;
}
.icons{
    width: 40px;
    margin: 0.7rem 0rem;
}
.secondWrap>h1{
    margin-top: 5.5rem;
    margin-bottom: 2rem;
}
.secondWrap{
    text-align: center;
}
h2{
    margin-bottom: 1rem;
}
.thirdWrap{
    background-color: hsl(256, 26%, 20%);
    color: white;
    text-align: center;
    padding: 4rem 1rem 6rem 1rem;
    margin: 1rem 0rem;
    margin-top: 6rem;
    background-image: url(images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: left 180px top 1px;
}
.thirdWrap>h1{
    margin: 2rem;
}
.workWrap{
    border: 1px solid #ffffff;
    padding: 0.5rem 0rem;
    margin: 0.7rem 5rem 0rem;
    cursor: pointer;
    color: white;
}
.fourthWrap{
    margin-top: 4rem;
    text-align: center;
    background-color:  hsl(0, 0%, 98%);
    background-image: url(images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-position: left -40px;
}
.fourthWrap>img{
    margin: 3rem 0rem 1rem 0rem;
}
.tooltip{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 3rem;
}
.fb{
    margin-right: 1rem;
}
.twitter{
    margin-right: 1rem;
}
.pinterest{
    margin-right: 1rem;
}
h1{
    font-family: 'DM Serif Display', serif;
}
h2{
    font-family: 'DM Serif Display', serif;
}
h3{
    font-family: 'DM Serif Display', serif;
}
.ig{
    margin-right: 1rem;
}
.aboutWrap{
    text-transform: uppercase;
    line-height: 1.5;
    color: hsl(256, 26%, 20%);
    font-weight: 700;
    cursor: pointer;
}
.aboutWrap>p:hover{
    text-decoration: underline;
}
#companyWrap>p:first-of-type{
    margin-bottom: 1rem;
    color:hsl(216, 30%, 68%);
}
#contactWrap>p:first-of-type{
    margin: 1rem 0rem;
    color:hsl(216, 30%, 68%);
}
#othersWrap>p:first-of-type{
    margin: 1rem 0rem;
    color:hsl(216, 30%, 68%);
}
#helpWrap>p:first-of-type{
    margin: 1rem 0rem;
    color:hsl(216, 30%, 68%);
}
.attribution{
    margin-top: 1rem;
}
hr{
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}
.hamburger.active{
    display: none;
}
.popUp{
  
    display: none;
}
.popUp.active{
    display: flex;
    background-color: hsl(270, 9%, 17%);
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
    height: 400px;

    width: 100%;
    background-image: url(images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: left 200px;
    position: absolute;
}
.cancel{
    position: absolute;
    right: 5%;
    display: none;
}
.cancel.active{
    display: flex;
}
.popUp>div{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    width: 90%;
    text-align: center;
    margin: 2rem 0rem;
  
}
.popUp>div:first-of-type{
    margin-top: 3rem;
}
.popUp>div:hover{
    border: 1px solid white;
    padding: 0.5rem;
    font-weight: 700;
}
.tooltip svg:hover path{
    fill: cyan;
}
@media screen and (min-width:900px){
    #mobile{
        display: none;
    }
    #desktop{
        display: flex;
        position: absolute;
        width: 350px;
        right: 5%;
        top: 10rem;
    }
    .firstWrap{
        background-image: url(images/bg-pattern-intro-left-desktop.svg),url(images/bg-pattern-intro-right-desktop.svg);
        background-repeat: no-repeat;
        background-position: left 10px top 200px,right -90px top -80px ;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
    .firstWrap>img{
        width: 100%;
        margin-bottom: 2.5rem;
    
    }
    .firstWrap>h1{
        margin-bottom: 1rem;
        margin-left: 3rem;
        margin-right: 25rem;
        text-align: left;
        margin-top: 5rem;
        font-size: 3rem;
    }
    .text{
        font-size: 1rem;
    }
    .textwrap{
        margin: 2rem 4rem 0rem;
        padding: 0.5rem 0.3rem;

    }
    #firstText{
        margin-right: 30rem;
        margin-left: 3rem;
        text-align: left;
    }
    .hamburger{
        display: none;
    }
    .logo{
        margin-left: 5rem;
    }
    .secondWrap>h1{
        margin: 10.5rem 2rem 1rem;
        text-align: left;
        font-size: 3rem;
    }
    .secondWrap{
        text-align: center;
    }
    .flexWrap{
        display: flex;
        text-align: left;
    }
    .thirdWrap{
        text-align: center;
        padding: 4rem 1rem 6rem 1rem;
        margin: 1rem 0rem;
        margin-top: 6rem;
        margin-bottom: 10rem;
        background-image: url(images/bg-pattern-how-we-work-desktop.svg);
        background-repeat: no-repeat;
        background-position: right 3% top 1px;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    .thirdWrap>h1{
        margin: 2rem;
        font-size: 3rem;
        text-align: left;
    }
    .workWrap{
        border: 1px solid #ffffff;
        padding: 1rem 0rem;
        margin: 0.7rem 2rem 0rem;
        cursor: pointer;
        height: 50px;
        width: 200px;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   footer{
       display: flex;
       margin-left: 5rem;
   }
   #helpWrap{
       margin-top: -1rem;
       margin-left: 3rem;
       line-height: 2.3;
   }
   #contactWrap{
    margin-top: -1rem;
    margin-left: 3rem; 
    line-height: 2.3;
   }
   #othersWrap{
    margin-top: -1rem;
    margin-left: 3rem; 
    line-height: 2.3;
   }
   #companyWrap{
    margin-left: 3rem; 
    line-height: 2.3;
   }
   .attribution{
       margin-top: 3rem;
   }
   .fourthWrap{
       position: relative;
       background-image: url(images/bg-pattern-footer-desktop.svg);
   }
   .secondLogo{
       position: absolute;
       left: 15%;
       top: -7rem;
   }
   .tooltip{
       position: absolute;
       right: 5%;
       top: -4rem;
   }
   hr{
       margin: 0rem 2rem 0rem 8rem;
   }
}